.header
  background-color: #fff
  margin-bottom: 90px
  &__wrapper
    max-width: 90%
    margin: auto
    padding-top: 32px
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    width: 343px
    height: 115px
    overflow: hidden
    &:focus
      outline: 2px solid orange
    &-image
      height: 100%
      width: 100%
      object-fit: contain
  &__login
    &:focus
      outline: 2px solid orange
